
.body{
    margin:'3px 0 auto 0';
    padding: 0;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    display:grid;
    box-sizing: border-box;
    display: grid;

}

.navbar{
    height: 60px;
    width: 100%;
    background: red;
}

.wrapper{
    display: inline-flex;
}

.wrapper .icon{
   margin: 50px 50px;
   flex-direction: column;
   position: relative;
}

.wrapper .icon span{
    display: block;
    text-align: center;
    position: relative;
}

.wrapper .icon span Button{
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon .tooltip{
    background: rgb(238, 93, 93);
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    padding: 15px 10px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
   align-items: flex-start;
}

.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}



.text{
    font-size:30px;
   
 
}
.text1{
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  position: relative;
  animation: text 3s 1;
}

.wrapper .icon .button{
    color: black;
   


}
@keyframes text{
   0%{
    margin-bottom: -3px;

   }
   
}
/* .img{
    height: 600px;
} */

