
.body{
    margin:'3px 0 auto 0';
    padding: 0;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    display:grid;
    box-sizing: border-box;
    display: grid;

}

.navbar{
    height: 60px;
    width: 100%;
    background: red;
}

.wrapper{
    display: inline-flex;
}

.wrapper .icon{
   margin: 50px 50px;
   flex-direction: column;
   position: relative;
}

.wrapper .icon span{
    /* display: block; */
    text-align: center;
    position: relative;
}

.wrapper .icon span Button{
    font-size: 25px;
    line-height: 60px;
}



.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}


.text{
    font-size:30px;
   
 
}
.text1{
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  position: relative;
  animation: text 2s 1;
}

.wrapper .icon .button{
    color: black;
   


}
@keyframes text{
   0%{
    margin-bottom: -30px;

   }
   
}